<div class="contact_form container-fluid">
	<div class="col-md-3 contact_image">
		<img src="http://nbsports.net/wp-content/uploads/sporting-goods.jpg" class="img-responsive">
		<p>Contact Us @ burts@gmail.com</p>
	</div><!-- end col-md-3 -->

	<div class="col-md-9 contact_style">
		<h1>Contact Us</h1>
		<%= flash[:notice] %>
		<%= form_tag("/static_pages/thank_you") do %>
		<div class="row">
			<div class="col-md-10">
				<div class="form-group">
					<%= label_tag :name %>
					<%= text_field_tag :name, nil, class: "form-control", placeholder: "Enter Name" %>
				</div>
				<div class="form-group">
					<%= label_tag :email, "Email Address" %>
					<%=text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
				</div>
				<div class="form-group">
					<%= label_tag :message %>
					<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
				</div>
			</div><!--end col-md-10-->
			<div class="col-md-3">
				<%= submit_tag "Send" %>
				<% end %>
			</div>
		</div><!-- end row -->

	</div><!--end contact_style -->
</div>



