<div class="container-fluid sign_up_page">
  <h2>Sign up</h2>
  <div class="row">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>
      <div class="field col-md-8">
        <%= f.email_field :email, autofocus: true, class: "form-control col-md-8", placeholder: "Email Address" %>
      </div>

      <div class="field col-md-8">
        <% if @minimum_password_length %>
        <em>Password(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password"%>
      </div>

      <div class="field col-md-8">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirm Password" %>
      </div>

      <div class="actions col-md-8">
        <%= f.submit "Sign up", class: "btn btn-primary"%>
      </div>
    <% end %>
  
  </div>
  <%= render "devise/shared/links" %>
</div>

