<div class="container-fluid productTable">
  <p id="notice"><%= notice %></p>
  
    <div class="row" id="myProduct">
      <% @products.each do |product| %>
        <div class="col-sm-2 col-md-4">
          <%= image_tag(product.image_url, class: "img-responsive") %>
          <h1><%= product.name %></h1>
          <h4><%= product.description %></h4>
          <h4>color: <%= product.colour %></h4>
          <strong>$<%= product.price %></strong>
        </div><!-- /col -->
      <% end %>
    </div>
  


  <br>

  <%= link_to 'New Product', new_product_path %>
</div>
