<div class="container-fluid">
  <div class="row show_structure">
    <div class="col-md-6">
      <p id="notice"><%= notice %></p>
      <p>
        <%= image_tag(@product.image_url, class:"img-responsive") %>
        <%= link_to 'Edit', edit_product_path(@product) %> |
        <%= link_to 'Back', products_path %>
      </p>  
    </div>
    <div class="col-md-6">
      <p>
        <h3><strong><%= @product.name %></strong></h3>
        Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> 
      </p>

      <p>
        <strong>Description:</strong>
        <%= @product.description %>
      </p>

      <p>
      	<strong>Colour:</strong>
      	<%= @product.colour %>
      </p>

      <p>
      	<span class="glyphicon glyphicon-usd"><%= @product.price %></span>
      </p>
    </div>
    <div class="col-md-9">
      <p>
        <%= @product.highest_rating_comment %>
        <%= render partial: 'new_comment' %>
        <%= render partial: 'comments' %>
      </p>
    </div>
  </div>
</div>
